 html {
  position: relative;
  min-height: 100%;
}

.container{ 
 
 background-color:#ff70fa;
}

.jumbotron{
 background-color:#99ff55;
}

#header{   
   background-color: #ff70fa;
   height: 120px;
   width: 100%;
}

#navBar{
   height: 50px;
   width: 100%; 
   background-color: #99ff55;

}

#content{
  height: auto;
  width: 100%;
  background-color: #ffde3e;
}
 /* Sticky footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}