.body{
   padding-top: 70px;
}
.fixed-bg {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% auto;
}
.container-fluid{
    bottom: 0;
    min-height: 100%;
    height:auto;
    height: 100%;
    padding: 0em 3em 0em 3em;
}
.jumbotron{
    background-color: #3ca3d5;
    padding-top: 70px;
}
.navbar{
    background-color: #28fff8;
}
#header{   
   background-color: #ff70fa;
   height: 120px;
   width: 100%;
}

#navBar{
   height: 50px;
   width: 100%; 
   background-color: #99ff55;

}

#content{
  height: auto;
  width: 100%;
  background-color: #ffffff;

}
 /* Sticky footer */
/*--.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here
  height: 60px;
  background-color: #f5f5f5;
}*/
img{
    height: auto;
    width:100%;

}
